
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
$column-length : 5;
html {
	font-size:62.5%;
}
body {
	font-family: 'Play', sans-serif;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	background-color: #222;
	color:#fff;
}
.my-topping-list {
	max-width: 1140px;
	margin:24px auto;
	padding:0 24px;
	.effect-list {
		position: sticky;
		top: 0;
		background: #222;
		// box-shadow: 0px 8px 11px 4px rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		padding: 12px 12px 12px 200px;
		text-align: right;
		font-size: 1.4rem;
		> * {
			padding:0 7px;
		}
	}
	.topping-item {
		display:grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "head detail";
		margin-bottom:12px;
		&:before,
		&:after {
			content:"";
		}
		// head
		.item-head {
			cursor: pointer;
			grid-area:head;
			// 
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width:160px + (12px + 2px) * 2;
			padding: 12px;
			box-sizing: border-box;
			border-radius: 10px;
			border-width:2px;
			border-style:solid;
			> * {
				box-sizing: border-box;
			}
			.kind {
				width:50%;
				font-size:1.6rem;
				font-weight:700;
				text-transform: capitalize;
				padding-right:10px;
			}
			.level {
				width:50%;		
				padding-left:10px;
				text-align: right;
			}
			.owner {
				width:100%;		
				font-size:1.2rem;
				text-align: right;
				text-transform: capitalize;
				padding-top:3px;
			}
		}
		// detail
		$effect-length : 10;
		.passive {
			grid-area:detail;
			// 
			display:grid;
			grid-template-columns: repeat($effect-length, 1fr);
			grid-template-rows: 1em;
			align-content: center;
		}
		.effect {
			// width:(100%/$effect-length);
			// min-width:40px;
			// height: 1em;
			grid-row: 1/2;
			> * {display:block;}
			.name {
				font-size:1.2rem;
			}
			.value {
				text-align: right;
			}
		}
		// variation
		&[data-kind="raspberry"] .item-head{
			border-color:lightcoral;
		}
		[data-equip-check="true"] {
			.owner {color:#ecbc33}
		}
		[data-effect-name="none"] {
			display:none;
		}
		// interaction
		&:hover,
		&:focus{
			background: #333;
			&:before {}
			&:after {}
		}
	}
}