@charset "utf-8";
// variable
$line-color : rgb(241, 90, 53);
$line-thickness : 6px;
$protrude-radian : 10deg;
body {
    margin: 0;
    padding: 0;
    width:100vw;
}
ul ol li {list-style:none;}
.brick {
    display:inline-block;
    width:85vw;
    height:100%;
    border-left:$line-thickness solid $line-color;
    text-align:left;
}
.wrap > div {text-align:right;}
.wrap > div > div {text-align:left;}
.top-area,
.bottom-area {
    position:relative;
    height:24vh;
}
.bottom-area .brick {
    border-color:#eee;
}
.main {
    .brick {
        position: relative;
        border-top:$line-thickness solid $line-color;
        transform: rotate(-$protrude-radian);
        transform-origin:0% 0%;
        &:before, &:after {
            content:'';
            position: absolute;
            top:100%;
            background-color:$line-color;
        }
        &:before {
            right:100%;
            transform-origin:100% 0%;
            width:100vw;
            height:$line-thickness;

            transform: rotate($protrude-radian* 1.3);
        }
        &:after {
            left:-$line-thickness;
            // transform-origin:-#{floor($line-thickness/2)} -#{floor($line-thickness/2)};
            transform-origin:0% 0%;
            width:$line-thickness;
            height:20vh;

            transform: rotate($protrude-radian*2);
        }
    }
    .schedule {
        padding-bottom:10vh;
    }
}
.protrude {
    position:absolute;
    top:-204px;
    width:30%;
    transform-origin:0% 0%;
    transform: rotate($protrude-radian* 0.3);
} 