<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta proto-url="http://planet-grid.webflow.io/">
	<title>clone - grid proto</title>
	<link rel="stylesheet" href="../../common/css/grid.scss">
</head>
<body>
	<div class="wrapper grid-display">
		<div class="w-layout-grid | grid-wrap-template">
			<div class="col-2 | content" data-grid-position="2.3|1.3|a">
				<div class="flex" data-grid-position="1.2|2.3|s">
					<div class="flex-h | dep-end">
						<span class="now | dep-end">01</span><span class="total | dep-end">04</span>
					</div>
					<h1 class="flex-head">That's us.</h1>
					<p class="paragraph">Ullamcorper a ut parturient duis ut leo nec mi cras ad a eu felis rhoncus vestibulum fringilla turpis faucibus mollis maecenas adipiscing tincidunt elementum sed eu nisl vestibulum.</p>
					<a class="flex-h | w-inline-block" href="https://www.youtube.com/watch?v=GO5FwsblpT8" target="_blank">View more</a>
				</div>
				<div class="row-end" data-grid-position="1.2|3.4|e"></div>
			</div>
			<ul class="row-end | navigation" data-grid-position="3.4|2.3|e">
				<li class="accordion-row | interaction-elem"><div class="accordion-content-wrapper">Mercury</div></li>
				<li class="accordion-row | interaction-elem"><div class="accordion-content-wrapper">Venus</div></li>
				<li class="accordion-row | interaction-elem"><div class="accordion-content-wrapper">Earth</div></li>
			</ul>
		</div>
	</div>
</body>
</html>