// non margin
@mixin non_margin {padding:0; margin:0;}

// remove or covering
@mixin blind($type:absolute) {
    position:$type;
    left:-10000px;
    z-index:-100;
    opacity:0;
}
@mixin remove {
    display:none;
    visibility:hidden;
    width:0; height:0;
    font-size:0; line-height:0;
    @include non_margin;
}

// prefix css pack
@mixin transition($property...){
    -webkit-transition:$property;
    -moz-transition:$property;
    -o-transition:$property;
    -ms-transition:$property;
    transition:$property;
}
@mixin transform($property...){
    -webkit-transform:$property;
    -moz-transform:$property;
    -o-transform:$property;
    -ms-transform:$property;
    transform:$property;
}
@mixin translate($x:null, $y:null){
    @include transform(translate($x, $y));
}
@mixin animate($name, $time:null, $loop:null) {
    -webkit-animation : $name $time $loop;
    -moz-animation : $name $time $loop;
    -o-animation : $name $time $loop;
    animation : $name $time $loop;
}
@mixin keyframes($ani_name){
    @-webkit-keyframes #{$ani_name} {@content};
    @-moz-keyframes #{$ani_name} {@content};
    @-o-keyframes #{$ani_name} {@content};
    @keyframes #{$ani_name} {@content};
}
@mixin placeholder {
    &::-webkit-input-placeholder {@content};
    &:-moz-placeholder           {@content};
    &::-moz-placeholder          {@content};
    &:-ms-input-placeholder      {@content};
}

// Abbreviation :: 말줄임처리
@mixin abbreviation {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
@mixin multiAbbreviation($lineNumber, $lineHeight) {
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lineNumber;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    height: $lineNumber * $lineHeight;
}

// background property
@mixin bgimg ($imgName, $ankerPath, $imgType:png, $size:null, $bgPos:null, $repeat:null){
    background: {
        image: url(#{$ankerPath}#{$imgName}.#{$imgType});
        size:$size;
        position:$bgPos;
        repeat:$repeat;
    }
    @content;
}
// test variable
$tgClass : manual, document, software, driver;
$imgBarrack : "/lg5-common/images/component/component-psp-download/";
@mixin iconMaker($arrClass){
    @for $i from 1 through length($arrClass) {
        &.#{nth($arrClass, $i)}:after{
            @include bgimg(nth($arrClass, $i), #{$imgBarrack}, svg);
        }
    }
}
.test-block {
    @include iconMaker($tgClass);
}

// variable type check
$color:red;
$v:$color;
.teskk {
    content:type-of($v);
}


@function screenType($type){
    // orientation is landscape
	@if($horizon){
		$type: "screen and (orientation: landscape)";
	// custom setting
	}@else if($horizon == "custom"){
        $type:"screen";
	// orientation is portrait. this is default.
	}@else{
        $type:"screen";
    }
    @return $type;
}


// =-=-=-=-=-=-= Media Query =-=-=-=-=-=-=-=
$mobile : 768px;
$tablet : 991px;
$desktop : 1440px;
$apple-biggest: $mobile - 352px; // 416px;

@mixin _screen($max-point, $min-point:null, $horizon:false){
    
    // option =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    // screen type add.
    $type:"";
    // orientation is landscape.
    @if($horizon){
		$type: "screen and (orientation: landscape)";
	
	// orientation is portrait. this is default.
	}@else{
        $type:"screen";
    }

    // use min-width
    $min-width:"";
    @if($min-point == null){
        $min-width:"";
    }@else{
        $min-width: "and (min-width:" + $min-point + ")"
    }
    //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= end option

    //output set
    // @media #{$type} #{$min-width} and (max-width:$max-point){
    //     @content;
    // }
}

//media query sample
.class1{
    @include _screen($desktop){
        display:none;
    }
}
.class2{
    @include _screen($desktop, $tablet){
        display:none;
    }
}
.class2-1{
    @include _screen($desktop - 100px, $tablet+ 100px){
        display:none;
    }
}
.class3{
    @include _screen($desktop, $tablet, true){
        display:none;
    }
}
.class4{
    @include _screen($desktop, null, true){
        display:none;
    }
}

